<div class="section section--pre-footer hide-for-print">
  <div class='container'>
    <h1 class="mdl-mega-footer__heading center section--pre-footer section--heading-center">Elsewhere</h1>

    <!--
      <div class='mdl-grid'>
        <div class='mdl-cell mdl-cell--12-col'>
          <h4><strong>Social</strong></h4>
        </div>
      </div>
      -->
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--1-col'>
        <a href='https://twitter.com/nicdoye' title="twitter">
          <i class='fa fa-twitter fa-2x'></i>
        </a>
      </div>
      <div class='mdl-cell mdl-cell--1-col'>
        <a href='https://instagram.com/nicdoye' title="instgram">
          <i class='fa fa-instagram fa-2x'></i>
        </a>
      </div>
      <div class='mdl-cell mdl-cell--1-col'>
        <a href='https://medium.com/@nicdoye' title="medium">
          <i class='fa fa-medium fa-2x'></i>
        </a>
      </div>
      <div class='mdl-cell mdl-cell--1-col'>
        <a href='https://gitlab.com/nicdoye' title="github">
          <i class='fa fa-gitlab fa-2x'></i>
        </a>
      </div>

      <div class='mdl-cell mdl-cell--1-col'>
        <a href='https://github.com/nicdoye' title="github">
          <i class='fa fa-github fa-2x'></i>
        </a>
      </div>
      <div class='mdl-cell mdl-cell--1-col'>
        <a href='https://stackexchange.com/users/48143/nicdoye?tab=accounts' title="stack exchange">
          <i class='fa fa-stack-exchange fa-2x'></i>
        </a>
      </div>
      <div class='mdl-cell mdl-cell--1-col'>
        <a href='https://www.strava.com/athletes/3181147' title="strava">
          <i class='fa fa-bicycle fa-2x'></i>
        </a>
      </div>
      <div class='mdl-cell mdl-cell--1-col'>
        <a href='https://uk.linkedin.com/in/nicdoye' title="linkedin">
          <i class='fa fa-linkedin fa-2x'></i>
        </a>
      </div>

      <div class='mdl-cell mdl-cell--1-col'>
        <a href='http://www.last.fm/user/worldofnic' title="last.fm">
          <i class='fa fa-lastfm fa-2x'></i>
        </a>
      </div>
      <div class='mdl-cell mdl-cell--1-col'>
        <a href='https://foursquare.com/nicdoye' title="foursquare">
          <i class='fa fa-foursquare fa-2x'></i>
        </a>
      </div>
      <div class='mdl-cell mdl-cell--1-col'>
        <a href='https://www.goodreads.com/review/list/22964603-nicolas-doye' title="goodreads">
          <i class='fa fa-book fa-2x'></i>
        </a>
      </div>
      <div class='mdl-cell mdl-cell--1-col'>
        <a href='https://google.com/+NicolasDoye' title="google plus">
          <i class='fa fa-google-plus fa-2x'></i>
        </a>
      </div>
      <!--
      <div class='mdl-cell mdl-cell--1-col'>
        <a href='https://onename.com/nicdoye' title="onename">
          <i class='fa fa-circle-o fa-2x'></i>
        </a>
      </div>
      -->
    </div>
  </div>
</div>
<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Generated by</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href='https://gohugo.io'>Hugo {{ .Hugo.Version }}</a></li>
        <li>
          <a href='https://about.gitlab.com/gitlab-ci/'>GitLab CI 
          <i class='fa fa-gitlab' aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href='https://aws.amazon.com/'>AWS 
          <i class="fa fa-amazon" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Third Party Components</h1>
      <ul class="mdl-mega-footer__link-list">
        <li>
          <a href='https://getmdl.io'>Material Design Lite 
          <i class="fa fa-google" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href='http://fontawesome.io/'>
          Font Awesome by Dave Gandy 
          <i class='fa fa-fa' aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href='https://fonts.google.com/'>
          Google Fonts
          <i class="fa fa-google" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Licence</h1>
      <ul class="mdl-mega-footer__link-list">
        <li>
          <a href='https://creativecommons.org/licenses/by/4.0/' rel='license'>
          CC BY 4.0
          <i class='fa fa-creative-commons' aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ .Site.GoogleAnalytics }}']);
  _gaq.push(['_trackPageview']);
  (function () {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>