<!-- _i|f -->
<footer class="site-footer">
  <section id='footer-sec'>
    <div class='container'>
      <div class='row  text-center'>
        <div class='col-md-1 col-sm-3 col-xs-4'>
          <h4><strong>Social</strong></h4>
        </div>
      </div>
      <div class='row pad-bottom text-center'>
        <div class='col-md-1 col-sm-3 col-xs-4'>
          <a href='https://twitter.com/nicdoye' title="twitter">
              <i class='fa fa-twitter fa-2x'></i>
          </a>
        </div>
        <div class='col-md-1 col-sm-3 col-xs-4'>
          <a href='https://instagram.com/nicdoye' title="instgram">
            <i class='fa fa-instagram fa-2x'></i>
          </a>
        </div>
        <div class='col-md-1 col-sm-3 col-xs-4'>
          <a href='https://google.com/+NicolasDoye' title="google plus">
            <i class='fa fa-google-plus fa-2x'></i>
          </a>
        </div>
        <div class='col-md-1 col-sm-3 col-xs-4'>
          <a href='https://github.com/nicdoye' title="github">
            <i class='fa fa-github fa-2x'></i>
          </a>
        </div>
        <div class='col-md-1 col-sm-3 col-xs-4'>
          <a href='https://gitlab.com/nicdoye' title="github">
            <i class='fa fa-gitlab fa-2x'></i>
          </a>
        </div>
        <div class='col-md-1 col-sm-3 col-xs-4'>
          <a href='https://stackexchange.com/users/48143/nicdoye?tab=accounts' title="stack exchange">
            <i class='fa fa-stack-exchange fa-2x'></i>
          </a>
        </div>
        <div class='col-md-1 col-sm-3 col-xs-4'>
          <a href='https://www.strava.com/athletes/3181147' title="strava">
            <i class='fa fa-bicycle fa-2x'></i>
          </a>
        </div>
        <div class='col-md-1 col-sm-3 col-xs-4'>
          <a href='https://uk.linkedin.com/in/nicdoye' title="linkedin">
            <i class='fa fa-linkedin fa-2x'></i>
          </a>
        </div>

        <div class='col-md-1 col-sm-3 col-xs-4'>
          <a href='http://www.last.fm/user/worldofnic' title="last.fm">
            <i class='fa fa-lastfm fa-2x'></i>
          </a>
        </div>
        <div class='col-md-1 col-sm-3 col-xs-4'>
          <a href='https://foursquare.com/nicdoye' title="foursquare">
            <i class='fa fa-foursquare fa-2x'></i>
          </a>
        </div>
        <!--
        <div class='col-md-1 col-sm-3 col-xs-4'>
          <a href='https://www.facebook.com/nicdoye' title="the book of faces">
            <i class='fa fa-facebook fa-2x'></i>
          </a>
        </div>
      -->

        <div class='col-md-1 col-sm-3 col-xs-4'>
          <a href='https://www.goodreads.com/review/list/22964603-nicolas-doye' title="goodreads">
            <i class='fa fa-book fa-2x'></i>
          </a>
        </div>
        <div class='col-md-1 col-sm-3 col-xs-4'>
          <a href='https://onename.com/nicdoye' title="onename">
            <i class='fa fa-circle-o fa-2x'></i>
          </a>
        </div>

      </div>

      <div class='row  text-center'>
        <div class='col-md-4'>
          <h4>
            <strong>
              Powered by
            </strong>
          </h4>
          <p>
            <a href='https://gohugo.io'>Hugo {{ .Hugo.Version }}</a>,
            <a href='https://about.gitlab.com/gitlab-ci/'>GitLab CI</a> and
            <a href='https://aws.amazon.com/'>AWS</a>
          </p>
        </div>

        <div class='col-md-4'>
          <!-- <strong>Git commit</strong> -->
        </div>

        <div class='col-md-4'>
          <h4>
            <strong>Licence</strong>
          </h4>
          <p>
            Original content on <span property='dct:title' xmlns:dct='http://purl.org/dc/terms/'>{{ .Site.Title }}</span>
            by
            <a href="http://worldofnic.org" property='cc:attributionName' rel='cc:attributionURL' xmlns:cc='https://creativecommons.org/ns#'>{{ .Site.Params.AuthorName }}</a>
            is licensed under a
            <a href='https://creativecommons.org/licenses/by/4.0/' rel='license'>
              Creative Commons Attribution 4.0 International License
              <i class='fa fa-creative-commons'></i>
            </a>
          </p>
        </div>
      </div>
      <div class='row pad-bottom text-center'>
        <div class='col-md-4'>

        </div>

        <div class='col-md-4'>
          <!-- {{ getenv "GIT_COMMIT" }} -->
        </div>

        <div class='col-md-4'>

        </div>
      </div>



      </div>
    </section>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ .Site.GoogleAnalytics }}']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
        <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
</footer>
