<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
    <body>
        <div class="mdl-layout mdl-js-layout">
        {{ partial "header.html" . }}
            <div id='content'>
                <main class="mdl-layout__content">
                    <article role='main'>
                    {{ partial "carousel.html" . }}
                        <section id="just-intro">
                            <div class="container">
                                <div class="row text-center pad-row">
                                {{ range .Data.Pages }}
                                    {{ if isset .Params "homecontent" }}
                                        {{ .Content }}
                                    {{ end }}
                                {{ end }}
                                </div>
                            </div>
                        </section>
                    </article>
                </main>
            </div>
        </div>
    {{ partial "footer.html" . }}
    </body>
</html>
