https://www.worldofnic.org:443 {
    tls /etc/www.worldofnic.org-bundle.crt /etc/www.worldofnic.org.key
    header / Strict-Transport-Security "max-age=31536000;"
    root /srv

    log stdout
    errors stdout
}

http://www.worldofnic.org:80  {
    redir https://www.worldofnic.org{uri} 307

    log stdout
    errors stdout
}

